@import "../../../variables";

.sectionTop {
  margin: 32px 0 0 0;
  text-align: center;
  font-family: Ariel, sans-serif;
  background-image: url('https://sa1s3optim.patientpop.com/assets/production/practices/a48bcd624e19959f9d7c9c7370e01a82c0de166c/images/1864816.jpg');
  background-size: cover;
  background-position: 25% 10%;
  background-origin: border-box;
  height: 100vh;
}

.sectionTitle {
  position: absolute;
  top: 15%;
  right: 0%;
  @include aesthetics-section-heading-main;
  color: white;
  background-color: $color-aesthetics;
  width: 50%;
}

.byOzonics{
  position: absolute;
  top: 95%;
  right: 5%;
  color: white;
  background-color:rgba(240, 14, 51, 0.75);
  width: 50%;
  text-align: center;
  overflow: hidden;
  font: 0.5em bold HKGroteskReg, Ariel, sans-serif;
}

.slogan {
  position: absolute;
  text-align: center;
  
  background-color: black;
  color: white;
  @include mq($until: tablet) {
  width: 65%;
  top: 90%;
  font-size: 1em;
  font-weight: normal;
  right: 25%;
  }
  @include mq($from: tablet) {
    width: 50%;
    top: 85%;
    font-size: 1.25em;
    font-weight: normal;
    right: 3%;
  }
  @include mq($from: desktop) {
  width: 40%;
  top: 75%;
  font-size: 1.75em;
  font-weight: normal;
  right: 1%;
  }
}

.aestheticsConclusionPara {
  color: rgb(10, 10, 124);
}

@media screen and (max-width: 768px) {
  .aestheticsTitle {
    font: 1.75em bold HKGroteskReg, Ariel, sans-serif;
    text-align: center;
    left: 0;
  }

  .aestheticsSloganPara {
    position: absolute;
    text-align: center;
    width: 40%;
    top: 60%;
    font-size: 1.25em;
    font-weight: normal;
    right: 10%;
    background-color: black;
    color: white;
  }
}
@media screen and (max-width: 425px) {
  .aestheticsTitle {
    top: 15%;
    font: 1.5em bold HKGroteskReg, Ariel, sans-serif;
  }
}