/* .card-title {
  min-height: 50px;
}

.card-footer {
  background-color: lightblue;
}

@media screen and (max-width: 768px) {
  .card-text {
    min-height: 120px;
  }
  .card-body {
    min-height: 100px;
  }
} */