@import "../../../../variables";

.sectionMain {
  position: relative;
  margin: auto;
}

.sectionTop {
  margin: 32px 0 0 0;
  text-align: center;
  font-family: Ariel, sans-serif;
  height: 10vh;
}

.sectionTitle {
  @include health-section-heading-main;
  position: absolute;
  top: 10%;
  right: 0%;
  color: white;
  background-color: $color-health;
}
