.landing-main {
  margin: 0;
  padding: 0;
}
.main-slogan {
  position: absolute;
  top: 75px;
  width: 100%;
  text-align: center;
  font-size: 1.25em;
  font-weight: bold;
  color: rgb(245, 245, 245);
  font-family: "HKGroteskReg", sans-serif;
  background-color: rgba(8, 1, 1, 0.25);
}
.secondary-slogan {
  position: absolute;
  top: 275px;
  width: 100%;
  text-align: center;
  font-size: 1.25em;
  font-weight: bold;
  color: rgb(245, 245, 245);
  font-family: "HKGroteskReg", sans-serif;
  background-color: rgba(8, 1, 1, 0.25);
}
.landing-main-sections {
  position: relative;
  padding: 0;
  margin: 0;
  /* margin-top: -56px; */
  background-size: cover;
  background-repeat: no-repeat;
  background-origin: border-box;
  background-clip: border-box;
  background-position: 0% 0%;
  height: 100vh;
  width: 50vw;
  padding: 0;
}
#landing-main-aesthetics {
  background-image: url("../../assets/img/lasercosmetics_cropped.jpg");
}

#landing-main-health {
  background-image: url("../../assets/img/infrared.jpg");
}

.landing-title {
  font-size: 1.5em;
  font-weight: bold;
  position: relative;
  top: 150px;
  color: rgb(245, 245, 245);
  text-align: center;
  font-family: "HKGroteskReg", sans-serif;
  background-color: rgba(8, 1, 1, 0.25);
}

.landing-overlay {
  background-color: rgba(114, 70, 35, 0.7);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  margin-bottom: -23px;
}

.no-gutters {
  margin-right: 0;
  margin-left: 0;

  > .col,
  > [class*="col-"] {
    padding-right: 0;
    padding-left: 0;
  }
}

@media only screen and (max-width: 768px) {
  .navbar-transparent {
    background-color: white;
  }
  .landing-main-sections {
    margin-left: 0px;
    margin-bottom: 0px;
    width: 100vw;
    height:300px;
    margin-top: 0px;
  }
  #landing-main-aesthetics {
    margin-top: 0px;
    margin-left: 0px;
  }
  #landing-main-health {
    margin-left: 0px;
  }
}

@media only screen and (max-width: 425px) {
  .navbar-transparent {
    background-color: white;
  }
  .landing-main-sections {
    margin-left: 0px;
    margin-bottom: 0px;
    width: 100vw;
    height:300px;
    margin-top: 0px;
  }
  #landing-main-aesthetics {
    margin-top: 56px;
    margin-left: 0px;
  }
  #landing-main-health {
    margin-left: 0px;
  }
}
