@import '../../variables';

.sectiongMain {
  margin: 0;
  padding: 0;
}
.sectionSlogan {
  margin-top: 30px;
  font-family: HKGroteskReg, sans-serif;
  text-align: center;
  background-image: linear-gradient(rgb(124, 61, 9), rgba(255, 136, 0, 0.349));
  font-weight: bold;
  color: rgb(121, 30, 14);
  padding-top: 5px;
}
.mainSlogan {
  font-size: 1.5em;
  margin-right: 15px;
  text-align: end;
}
.secondarySlogan {
  font-size: 1.5em;
  font-weight: italic;
  color: rgb(104, 51, 20);
  text-align: start;
  margin-left: 15px;
}

.mainSections {
  position: relative;
  padding: 0;
  margin: 0;
  /* margin-top: -56px; */
  background-size: cover;
  background-repeat: no-repeat;
  background-origin: border-box;
  background-clip: border-box;
  background-position: 0% 0%;
  @include mq($until: tablet) {
    height: 50vh;
  width: 100vw;
  }
  @include mq($from: tablet) {
    height: 100vh;
  width: 50vw;
  }
  @include mq($from: desktop) {
    height: 100vh;
    width: 50vw;
  }
  
  padding: 0;
}
#sectionAesthetics {
  background-image: url("../../assets/img/lasercosmetics_cropped.jpg");
}

#sectionHealth {
  background-image: url("../../assets/img/infrared.jpg");
}

.title {
  font-size: 2em;
  font-weight: bold;
  position: relative;
  top: 3%;
  color: rgb(245, 245, 245);
  text-align: center;
  font-family: "HKGroteskReg", sans-serif;
  background-color: rgba(8, 1, 1, 0.25);
}

.description {
  position: relative;
  left: 5%;
  top: 20%;
  height: 40%;
  width: 50%;
  opacity: 1;
  background-color: rgba(255, 255, 255, 0.25); 
  font-size: 2em;
  font: bolder italic "HKGroteskReg", sans-serif;
  text-align: left;
  color: rgb(0, 0, 0);
}

.landingMainDescriptionItem1 {
  position: relative;
  top: 5%;
  font-size: 1em;
  padding-bottom: 3px;
  text-align: center;
}
.landingMainDescriptionItem2 {
  position: relative;
  font-size: 1em;
  padding-bottom: 3px;
  text-align: center;
}
.landingMainDescriptionServicesList {
  font-size: 0.75em;
  text-align: left;
}

.landingOverlay {
  background-color: rgba(114, 70, 35, 0.7);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  margin-bottom: -23px;
}

.noGutters {
  margin-right: 0;
  margin-left: 0;

  > .col,
  > [class*="col-"] {
    padding-right: 0;
    padding-left: 0;
  }
}

@media only screen and (max-width: 1024px) {
  
  .landingMainDescription {
    font-size: 1.25em;
    left: 10%;
    top: 55%;
    height: 30%;
    width: 60%;
  }

 
}

@media only screen and (max-width: 768px) {
  .navbarTransparent {
    background-color: white;
  }
  .mainSlogan {
    font-size: 1.25em;
    text-align: center;
  }
  .secondarySlogan {
    font-size: 1.25em;
    text-align: center;
    padding-top: 0;
  }
  .landingMainSections {
    margin-left: 0px;
    margin-bottom: 0px;
    height: 300px;
    margin-top: 0px;
  }
  #landingMainAesthetics {
    margin-top: 0px;
    margin-left: 0px;
  }
  #landingMainHealth {
    margin-left: 0px;
  }
  .landingTitle {
    font-size: 1em;
    font-weight: bold;
    position: relative;
    top: 5%;
    color: rgb(245, 245, 245);
    text-align: center;
    font-family: "HKGroteskReg", sans-serif;
    background-color: rgba(8, 1, 1, 0.25);
  }
  .landingMainDescription {
    font-size: 1.25em;
    left: 10%;
    top: 15%;
    height: 65%;
    width: 80%;
  }

  .landingMainDescriptionItem1 {
    position: relative;
    top: 5%;
    font-size: 0.75em;
    padding-bottom: 3px;
    text-align: left;
  }
  .landingMainDescriptionItem2 {
    position: relative;
    font-size: 0.65em;
    padding-bottom: 3px;
    text-align: left;
  }
  .landingMainDescriptionServicesList {
    font-size: 0.75em;
    text-align: left;
  }
}

@media only screen and (max-width: 425px) {
  .navbarTransparent {
    background-color: white;
  }
  .mainSlogan {
    font-size: 1em;
  }
  .secondarySlogan {
    font-size: 0.75em;
  }
  .landingMainSections {
    margin-left: 0px;
    margin-bottom: 0px;
    margin-top: 0px;
  }
  #landingMainAesthetics {
    margin-top: 0px;
    margin-left: 0px;
  }
  #landingMainHealth {
    margin-left: 0px;
  }
}
