@import '../../variables';

.aestheticsOverview {
  color: blue;
  font-weight: bold;
}

.healthOverview {
  color: orangered;
  font-weight: bold;
}

.dropdown-menu, .accountDropdown {
  @include mq($until: tablet) {
    
  }
  @include mq($from: tablet) {
    position: relative;
  left: -100px;
  background-color: white;
  }
  @include mq($from: desktop) {
    position: relative;
  left: -100px;
  background-color: white;
  }
  
}