/* .mainNavbar {
  padding: 0px;
} */

/* #basic-nav-dropdown {
  width: 100%;
  margin-right: 250px;
} */
.aestheticsOverview {
  color: blue;
  font-weight: bold;
}

.healthOverview {
  color: orangered;
  font-weight: bold;
}

.accountDropdown {
  margin-right: 0px;
}